__pycache__/*
kiraBotFiles/*
Lib/*
Scripts/*
tempFiles/*
Services/__pycache__
Entities/__pycache__
Hydrus/__pycache__
Utilities/__pycache__
kiraTestBot.py
tester.py
.vscode/launch.json
guilds.json
.env