__pycache__/*
kiraBotFiles/*
Lib/*
Scripts/*
tempFiles/*
.env
Services/__pycache__
Entities/__pycache__
Hydrus/__pycache__
Utilities/__pycache__
kiraTestBot.py
tester.py
.env
guilds.json
.vscode/launch.json
Cogs/__pycache__/*
backups/bfa65e6ec395aa2b39a4f083003b0c95db3cea0c3530fe44db11317687c893eb.png
.gitignore
backups/users.json
backups/imageLog.json
backups/Pydrus-Tagger.rar
