__pycache__/*
kiraBotFiles/*
Lib/*
Scripts/*
tempFiles/*
.env
Services/__pycache__
Entities/__pycache__
Hydrus/__pycache__
Utilities/__pycache__
kiraTestBot.py
tester.py
.env
guilds.json
.vscode/launch.json
